# Flutter/Dart
.dart_tool/
build/
*.log
*.pid
*.lock
*.swp
.DS_Store
.gradle/
.idea/
.vscode/
*.iml
*.ipr
*.iws
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
/android/.gradle
/android/local.properties
/ios/.generated/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/macos/Flutter/Generated.xcconfig
/macos/Flutter/ephemeral
/macos/Pods/
/linux/flutter/ephemeral
/windows/flutter/ephemeral
**/doc/
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/macos/Flutter/.last_build_id
**/macos/Pods/
**/linux/flutter/.last_build_id
**/windows/flutter/.last_build_id
.env
*.env
